{{> navbar}}
<div class="container-fluid">
  <div class="row">{{> sidebar}}</div>
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
    >
      <h2 class="h3 heading"><strong>Nearby Chat</strong></h2>
    </div>
    <div class="row">
      <div class="col-md-3 mb-3">
        <h3 class="heading">Terminated Users</h3>
      </div>
      <div class="col-md-3 mb-3"></div>
      <div class="col-md-3 mb-3"></div>

      <div class="col-md-3 mb-3">
       
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-striped table-sm" id="terminated_datatable">
        <thead>
          <tr>
            <th>Username</th>
            <th>Image</th>
            <th>Active</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </main>
</div>
{{> foot}}
  
<!-- <script src="https://code.jquery.com/jquery-3.5.1.js"></script> -->
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", (event) => {

    $("#terminated_datatable").DataTable({
      searching: false,
      pageLength: 10,
      processing: true,
      stateSave: true,
      pagination: true,
      bPagination: true,
      pagingType: "full_numbers",
      responsive: true,
      filter: true,
      sort: false,
      serverSide: true,
      dom:
        "<'row'<'col-sm-12'tr>>" +
        "<'row'<'col-sm-5'i><'col-sm-7'<'float-right p-2'p>>>",
      ajax: {
        url: "/api/admin/blocked-list",
        headers: { Authorization: "Bearer " + Cookies.get("token") },
        method: "GET",
        dataFilter: (data) => {
          let json = JSON.parse(data);
          json.recordsTotal = json.total;
          json.recordsFiltered = json.total;
          return JSON.stringify(json);
        },
        data: function (d) {
          return $.extend(
            {},
            {
              start: d.start,
              limit: d.length,
              search: d.search,
            }
          );
        },
      },
      columns: [
        {
          data: "username",
          class: "text-center",
        },
        {
          data: null,
          class: "text-center",
          render:(d,type,row,meta)=>{
            return ` <img src="${d.image}" alt="profile">`
          }
        },
        {
            data: null,
          class: "text-center",
          render: (d, type, row, meta) => {
            if (d.isActive === true) {
              return `<svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
      </svg>`;
            } else {
              return `<svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
</svg>`;
            }
          },
        },
        {
          data: null,
          class: "text-center",
          render: (d, type, row, meta) => {
            return `<button type="button" id="activebtn" data-id="${d._id}" class="btn btn-success" data-toggle="modal" data-target="#activeModal" class="btn btn-sm btn-outline-danger" 
    title="Active">
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-person-check" viewBox="0 0 16 16">
  <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
  <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
</svg>
</button>`;
          },
        }
      ],
    });
  });
</script>

<div
  class="modal fade"
  id="activeModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Active User</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to Active this Account ?
        <span id="active-modal-id" hidden></span>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-secondary"
          data-dismiss="modal"
        >
          No
        </button>
        <button type="button" class="btn btn btn-success" id="btnActive">
              <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-person-check" viewBox="0 0 16 16">
                <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
              </svg>
          Active
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="success-active-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLongTitle"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered"
    role="docexampleModalLongument"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          Successfully Activated Account
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">The User account has been activated Successfully.</div>
    </div>
  </div>
</div>

<script>
  $(document).on("click", "#activebtn", function () {
    let id = $(this).data("id");
    document.getElementById("active-modal-id").innerHTML = id;
  });
  document.getElementById("btnActive").addEventListener("click", () => {
    let id = document.getElementById("active-modal-id").innerText;
    fetch(`/api/admin/unblock-user/${id}`, {
      method: "PATCH",
      headers: {
        "Content-Type": "application/json",
        Authorization: "Bearer " + Cookies.get("token"),
      },
    }).then((response) => {
      if (response.ok) {
        $("#activeModal").modal("hide");
        setTimeout(function () {
          $("#success-active-modal").modal("show");
        }, 300);
        $("#terminated_datatable").DataTable().ajax.reload(null, false);
        setTimeout(function () {
          $("#success-active-modal").modal("hide");
        }, 2000);
      }
    });
  });
</script>