<div class="container-fluid">
    <div class="row"></div>
    <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-md-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
      ></div>
      <div class="row">
        <div class="col-md-4 mb-3"></div>
  
        <div class="col-md-4 mb-3 text-center">
          <h3 class="heading">Admin Login</h3>
        </div>
  
        <div class="col-md-4 mb-3"></div>
      </div>
      <div class="row">
        <div class="col-md-4 mb-3"></div>
        <div class="col-md-4 md-3">
          <form>
            <div class="form-group row">
              <label
                for="colFormLabelLg"
                class="col-sm-2 col-form-label col-form-label-lg"
                >Email</label
              >
              <div class="col-sm-10">
                <input
                  type="email"
                  class="form-control form-control-lg"
                  id="txtEmail"
                  placeholder="Enter your email here"
                />
              </div>
            </div>
            <div class="form-group row">
              <label
                for="colFormLabelLg"
                class="col-sm-2 col-form-label col-form-label-lg"
                >Password</label
              >
              <div class="col-sm-10">
                <input
                  type="password"
                  class="form-control form-control-lg"
                  id="txtPassword"
                  placeholder="Enter your password Here"
                />
              </div>
            </div>
  
            <button type="button" id="btnLogin" class="btn btn-warning btn-lg">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                class="bi bi-box-arrow-in-right"
                viewBox="0 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"
                />
                <path
                  fill-rule="evenodd"
                  d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"
                />
              </svg>
              Login
            </button>
            <br />
          </form>
        </div>
        <div class="col-md-4 mb-3"></div>
      </div>
      <br />
      <br />
    </main>
  </div>
  {{> foot }}
  <script>
    document.addEventListener("DOMContentLoaded", (event) => {
      document.getElementById("btnLogin").addEventListener("click", () => {
        let email = document.getElementById("txtEmail").value;
        let password = document.getElementById("txtPassword").value;
        if (!email || !password) {
          alert("email or password empty");
        } else {
          fetch("/api/admin/login", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ email, password }),
          }).then((response) => {
            console.log(response.cookie);
            if (response.status === 401) {
              setTimeout(function () {
                $("#failed-modal").modal("show");
              }, 300);
              setTimeout(function () {
                $("#failed-modal").modal("hide");
              }, 3000);
              setTimeout(function () {
                window.location.replace("/");
              }, 3000);
            }
            if (response.status === 200) {
               
              window.location.replace("/users");
            }
          });
        }
      });
    });
  </script>
  
  <div
    class="modal fade"
    id="failed-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLongTitle"
    aria-hidden="true"
  >
    <div
      class="modal-dialog modal-dialog-centered"
      role="docexampleModalLongument"
    >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Login Failed</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">Incorrect Email or Password.</div>
      </div>
    </div>
  </div>